@import 'variables';

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  min-width: 360px;
}

.members-select {
  width: 200px;
}

.calendar-table__cell--event,
.green {
  background-color: $event !important;
}

.event {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.event__name {
  margin-right: 10px;
}

.calendar-table__cell {
  min-width: 120px;
  width: calc(100% / 6);
}

.event__delete-button,
.members-select {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.calendar-table__header {
  background-color: $table-header;
}

.calendar-table__cell--heading {
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}
